:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
}

.mainSkolor{
    width: 100%;
}

.skolwrapper{
    display: flex;
    flex-wrap: wrap;
}

.navskolor{
       height: 210px;
	   width: 110px;
	   padding-right: 35px;
	   border-right: 3px solid;
       /*border-color: #A44040;*/
       border-image: linear-gradient(#FFFFFF,#A44040,#A44040, #FFFFFF) 1;
       margin-top: 30px;
       margin-right: 40px;
}
.navskolor li{
	   margin-bottom: 18px;
	   list-style-type: none;
	   text-decoration: none;
}

.titelSkola{
    width: 100%;
    text-align: center;
}

.skolbildcontainer{
    width: 90%;
    margin: auto;
}

.skolbild{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

@media screen and (max-width: 800px){   /*På små skärmar ska sidomenyn se annorlunda ut*/
    .navskolor{                         /*och byta plats med skoltiteln.*/
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: -170px;
        text-align: center;
        border: none;
    }
    .navskolor li{
        display: inline-block;
        margin: 8px;
        padding: 8px;
        border: 1px solid #8B8852;
        border-radius: 40px;
        background-color: #8B8852;
    }
    .navskolor a{
        color:#FFFFFF;
    }

    .titelSkola{
        margin-top: 90px;
    }
}

@media screen and (min-width: 1000px){   /*Layout för stora skärmar*/
    .skolbildcontainer{
        width: 35%;
        margin: 0;
    }
    
    .infoSkola{
        width: 40%;
        margin: auto;
    }
}