:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --link-color: #4339d5;
}

.KF {
    max-width: 100%;
    font-family: poppins, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 1rem;
}

.KF a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color .3s;
}

.KF a:active {
    animation: flash .5s infinite;
}

.KF hr {
    background-color: var(--accent-color);
    height: .3vh;
    width: 85%;
}

.KF .KF-synlighet {
    font-size: 1rem;
    line-height: 3vh;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.page-finder ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 2vw;
    font-size: 1rem;
    padding-top: .7rem;
    padding-left: 3.5rem;
}

.page-finder i {
    cursor: pointer;
}

.page-finder .last-page {
    color: var(--text-color);
    font-weight: 400;
}

.KF-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.KF-container h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.KF-container figure {
    margin: 0;
}

.KF-container img {
    width: 100%;
    height: auto;
    filter: grayscale(70%);
    border-top: .6vh solid var(--secondary-color);
}

.KF-container h3 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 3vh;
}

.KF-container p {
    font-size: 1rem;
    line-height: 3vh;
    margin-top: 0;
    margin-bottom: 1rem;
}

.KF-container .download {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.KF-container a:hover {
    text-decoration: underline;
}

.KF-container .motion,
.KF-container .tips {
    filter: grayscale(40%);
}

details {
    border-left: .5vh solid var(--accent-color);
}

summary {
    padding-left: 2rem;
    padding-bottom: 1rem;
    outline: none;
    padding-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

summary::marker {
    color: var(--accent-color);
}

@media all and (min-width: 480px) {
    .KF-container {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }
    .KF-container h3,
    .KF-container p {
        font-size: 1rem;
        line-height: 2.5vh;
    }
    .KF .KF-synlighet {
        line-height: 2.5vh;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 1rem;
    }
    .KF-container img {
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    #sundberg {
        image-rendering: -webkit-optimize-contrast;
        height: 55vh;
    }
    details[open] .KF-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (min-width: 950px) {
    .welcome-text,
    summary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    details {
        margin-left: 3rem;
    }
    .page-finder ul {
        gap: 1vw;
    }
    .KF-container {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .KF-container h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .KF-container figure {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2rem;
    }
    .KF-container figcaption {
        flex: 1;
    }
    .KF-container h3,
    .KF-container p {
        font-size: 1rem;
        line-height: 2.3vh;
        margin-top: 0!important;
    }
    .KF .KF-synlighet {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: 2rem;
        line-height: 2.3vh;
    }
    .KF-container img {
        width: 50%;
        height: 25vh;
    }
    #sundberg {
        height: 35vh;
    }
}

@media all and (min-width: 1400px) {
    .welcome-text,
    summary {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    details {
        margin-left: 5rem;
    }
    .KF-container h3,
    .KF-container p {
        margin-top: 2rem;
    }
    .KF-container figure {
        gap: 5rem;
    }
    .KF .KF-synlighet {
        padding-left: 12rem;
        padding-right: 12rem;
        padding-top: 2rem;
    }
    #bibloteket {
        height: 25vh;
        image-rendering: -webkit-optimize-contrast;
    }
    #sundberg {
        height: 40vh;
    }
    .KF-container img {
        width: 30%;
    }
}

@keyframes flash {
    0% {
        color: var(--accent-color);
    }
    50% {
        color: var(--link-color);
    }
    100% {
        color: var(--accent-color);
    }
}