:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
}

.mainNaringsliv{
    width: 100%;
}

.naringslivwrapper{
    display: flex;
    flex-wrap: wrap;
}

.titelNaringsliv{
    width: 100%;
    text-align: center;
}

#formNaringsliv{                         
    width: 100%;
    height: fit-content;
    margin: auto;
}
/*
.skolbildcontainer{
    width: 90%;
    margin: auto;
}

.skolbild{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}
*/
/*
@media screen and (max-width: 800px){  
    .navskolor{                         
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: -170px;
        text-align: center;
        border: none;
    }

    .navskolor li{
        display: inline-block;
        margin: 8px;
        padding: 8px;
        border: 1px solid #8B8852;
        border-radius: 40px;
        background-color: #8B8852;
    }

    .navskolor a{
        color:#FFFFFF;
    }

    .titelSkola{
        margin-top: 90px;
    }
}
*/
@media screen and (min-width: 1000px){   /*Layout för stora skärmar*/
    .skolbildcontainer{
        width: 35%;
        margin: 0;
    }
    
    .infoSkola{
        width: 40%;
        margin: auto;
    }

    #skolstartsida{
        width: 80%;
    }
}