:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --test: test;
}

/* #region HEADER & FOOTER RULES */

#logo {
    max-width: 100%;
    padding: 10px;
}

#logoLink {
    max-width: 10%;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url("Images/kommunheader.jpg");
    background-size: cover;
    width: 100%;
    max-height: fit-content;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header h1 {
    display: inline;
    font-size: 2vw;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

header nav a {
    font-size: 1.2rem;
    height: 20px;
    color: var(--background-color);
    text-decoration: none;
    padding: 10px 25px;
}

header nav a:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    bottom: 0px;
    margin-top: auto;
}

footer li {
    display: block;
    text-decoration: none;
    list-style-type: none;
}

footer ul {
    padding: 0px;
}

footer section {
    padding: 1% 5%;
}

.footerHeading {
    font-weight: 700;
}

.footerSubHeading {
    font-weight: 700;
}

.footerIcon {
    max-width: 20px;
    padding: 1%;
}

.footerSocialIcon {

    max-width: 36px;
    padding: 5px;
}

.footerLinks {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 5px;
    color: white;
}

.footerIconLink {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

/* #endregion */















/* MAIN CONTENT */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero {
    background-image: url(../Kommunsida/Images/city-map-4320755_1280.png);
    background-position: top;
    background-blend-mode: multiply;
    /* background-repeat: no-repeat; */
    background-size: fill;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 70%;
    margin: 10px auto;
    background-color: var(--background-color);
    border: solid #8B8852;
}

/* AKTUELL SECTION */
.aktuellt-section {
    display: grid;
    gap: 75px;
    grid-template-columns: 1fr 1fr;
    max-width: 710px;
    background-color: var(--background-color);
}

.aktuellt-section {
    border-top: solid 4px var(--accent-color);
    padding: 40px 40px;
}

.aktuellt-section article img {
    max-width: 250px;
}



.solenergi {
    border-bottom: solid var(--secondary-color);
    max-width: 250px;
    background-color: var(--background-color-color);
}

.bibliotek {
    border-bottom: solid var(--secondary-color);
    max-width: 250px;
    background-color: var(--background-color-color);
}

.cykelstråk {
    border-bottom: solid var(--secondary-color);
    max-width: 250px;
    background-color: var(--background-color-color);
}

/* LÄNKAR TILL BADHUS/FRITIDSGÅRD */

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    /* flex-direction: column; */
    gap: 40px;
    max-width: 100%;
    border-bottom: solid var(--accent-color);
    border-top: solid var(--accent-color);

}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 2 / 2;
}

.card {
    border-radius: 5px;
    border: solid 1px #9c774a;
    aspect-ratio: 1 / 1.4;
}

.card-content {
    background: var(--primary-color);
    align-self: end;
    margin: .5rem;
    box-shadow: 0 .25rem 0.5rem rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.card-content h2,
.card-content p {
    text-decoration: none;
    color: var(--text-color);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.card-img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-titel {
    font-size: 2rem;
    margin-left: 5px;
    color: var(--accent-color);
}

.card-price {
    font-size: large;
    margin-left: 5px;
}


/* MAIN BUTTON STYLE */
.k-btn {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color);
}