:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
}

/* font förslag, poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Qwigley&display=swap');

/* #region GENERELLA RULES */


body {
    font-family: poppins, sans-serif;
    /* mhattias font förslag */
    overflow-y: visible;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navOverview ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-height: fit-content;
}

.navOverview li {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kommunensHistoriaImg {
    width: 100%;
}

.inlineIcon {
    max-width: 20px;
    padding: 5px;
}

.inlineImgLink {
    display: flex;
    align-items: center;
    margin: 0px;
}

/* #endregion */



/* #region HEADER & FOOTER RULES */

#logo {
    max-width: 100%;
    padding: 10px;
}

#logoLink {
    max-width: 10%;
}


header {
    background-image: url("Images/kommunheader.jpg");
    background-size: cover;
    width: 100%;
    max-height: fit-content;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header h1 {
    display: inline;
    font-size: 2vw;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

header nav a {
    font-size: 1.2rem;
    height: 20px;
    color: var(--background-color);
    text-decoration: none;
    padding: 10px 25px;
}

header nav a:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    bottom: 0px;
    margin-top: auto;
}

footer li {
    display: block;
    text-decoration: none;
    list-style-type: none;
}

footer ul {
    padding: 0px;
}

footer section {
    padding: 1% 5%;
}

.footerHeading {
    font-weight: 700;
}

.footerSubHeading {
    font-weight: 700;
}

.footerIcon {
    max-width: 20px;
    padding: 1%;
}

.footerSocialIcon {

    max-width: 36px;
    padding: 5px;
}

.footerLinks {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 5px;
    color: white;
}

.footerIconLink {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

#earIcon {
    max-width: 20px;
    padding: 10px 0px 10px 10px;
}

/* #endregion */




/* #region KOMMUN & POLITIK RULES */

#kommun-politik-startsida {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mainContentKP {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#figureKP {
    border: 1px #6e6e6e solid;
    display: flex;
    flex-flow: column;
    margin: auto;
}

#figCaptionKP {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.sideBySide {
    display: flex;
    flex-direction: row;
}

.screenFifty {
    max-width: 50%;
    margin: 10px;
}

.screenThirty {
    max-width: 30%;
    margin: 10px;
}

.screenSeventy {
    max-width: 70%;
    margin: 10px;
}

#forvaltningar {
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding: 0;
}

#forvaltningar ul {
    margin: 0px 10px 0px 0px;
}

#forvaltningarLista li {
    list-style-type: none;
    border: solid var(--text-color);
    border-width: 2px 2px 0px 2px;
    padding: 15px 10px;
    background-color: var(--accent-color);
    color: var(--background-color);
}

#forvaltningar li:last-child {
    border-width: 2px 2px 2px 2px;
}



#forvaltningarInfo {
    font-size: 90%;
    border: solid 1px black;
    width: 60%;
    padding: 10px;
}

/* #endregion */










/* #region MAIN CONTENT PÅ STARTSIDA */

.kommun-startsida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.hero {
    background-image: url(../Kommunsida/Images/city-map-4320755_1280.png);
    background-position: top;
    background-blend-mode: multiply;
    /* background-repeat: no-repeat; */
    background-size: fill;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 25vh;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--background-color);
    border: solid #626429;
}

/* AKTUELL SECTION */
#news {
    margin-left: 5%;
}

.aktuellt-section {
    border-top: solid 4px var(--accent-color);
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    align-items: center;
    text-align: center;
    gap: 155px;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    background-color: var(--background-color);
}

.aktuellt-section article img {
    max-width: 70%;
}

.fritidsgård {
    border-bottom: solid var(--secondary-color);
    background-color: var(--background-color-color);
}

.bibliotek {
    border-bottom: solid var(--secondary-color);
    background-color: var(--background-color-color);
}

.bio {
    border-bottom: solid var(--secondary-color);
    background-color: var(--background-color-color);
}

.badhus {
    border-bottom: solid var(--secondary-color);
    background-color: var(--background-color-color);

}

/* LÄNKAR TILL BADHUS/FRITIDSGÅRD */

#twoCards {
    padding: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 100%;
    border-top: solid var(--accent-color);
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 2 / 2;
}

.card {
    border-radius: 5px;
    border: solid 1px #9c774a;
    aspect-ratio: 1 / 1.4;
}

.card-content {
    background: var(--primary-color);
    align-self: end;
    margin: .5rem;
    box-shadow: 0 .25rem 0.5rem rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.card-content h2,
.card-content p {
    text-decoration: none;
    color: var(--text-color);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.card-img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-titel {
    font-size: 2rem;
    margin-left: 5px;
    color: var(--accent-color);
}

.card-price {
    font-size: large;
    margin-left: 5px;
}

/* #endregion */


/* #region  EFFEKTER */

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
}

/* #endregion */

/* #region  MEDIA QUERIES YO*/

@media (max-width: 650px) {

    /* CARD QUERY */
    .container {
        gap: 0px;
    }

    .card-content {
        margin: 0;
    }

    .card-content h2,
    .card-content p {
        text-decoration: none;
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.2rem;
    }

    .card-img {
        width: 260px;
        object-fit: cover;
    }

    /* NYHETER QUERY */
    .aktuellt-section {
        gap: 15px;
        grid-template-columns: 1fr;
        max-width: 450px;
        margin: 0 auto;
    }

    .aktuellt-section article p {
        font-size: 0.9rem;
        font-weight: 500;
    }

}

/* #endregion  */

/* MAIN BUTTON STYLE */
.k-btn {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color);
}