:root {
    --primary-color: #CBBD98;
    --secondary-color: #8B8852;
    --accent-color: #A44040;
    --background-color: #FFFFFF;
    --text-color: #000000;
}


#logo {
    max-width: 12.5%;
    padding: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;
}

header {
    background-image: url("Images/kommunheader.jpg");
    background-size: cover;
    width: 100vw;
    max-height: fit-content;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header h1 {
    display: inline;
    font-size: 2vw;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

header nav a {
    font-size: 1.2rem;
    height: 20px;
    color: var(--background-color);
    text-decoration: none;
    padding: 10px 25px;
}

header nav a:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
}



















/* MAIN CONTENT */

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero{
    background-image: url(../Kommunsida/Images/city-map-4320755_1280.png);
    background-position: top;
    background-blend-mode: multiply;
    /* background-repeat: no-repeat; */
    background-size: fill;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 70%;
    margin: 10px auto;
    background-color: var(--background-color);
    border: solid #8B8852;
}

.aktuellt-section{
    border-top: solid 4px var(--accent-color);
    /* border-radius: 2px; */
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

.aktuellt-section{   /* section som tar hela width och delar upp sidan till olika delar */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:60vw ;
    background-color: var(--background-color);
}

.solenergi{
    margin: 10px 10px;
    background-color: var(--primary-color);
}

.bibliotek{
    margin: 10px 10px;
    background-color: var(--primary-color);


}
.cykelstråk{
    margin: 10px 10px;
    background-color: var(--primary-color);
}

.k-btn{
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color); 
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color); /* White Color */

}