/* Set smooth scrolling behavior for the entire HTML document */
:root {
    scroll-behavior: smooth;
    --text-color: rgb(25, 3, 0);
    --background-color: rgb(255, 246, 245);
    --primary-color: rgb(1, 123, 142);
    --secondary-color: rgb(194, 216, 255);
    --accent-color: rgb(1, 244, 155);
    --primary-opacity: rgba(1, 123, 142, 0.8);
}

*::selection {
    background-color: var(--accent-color);
}

/* Reset margin for the entire body and set background color */
body {
    margin: 0;
    background-color: var(--background-color);
}

/* Styling for the fixed navigation bar */
.navbar {
    border-bottom: 5px solid var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 21vh; /* 21% of viewport height */
    background-color: var(--background-color);
    box-shadow: 0 4px 2px -2px var(--primary-opacity);
}

/* Styling for the list inside the navigation menu */
.navbar ul {
    list-style: none;
    margin: 0;
}

/* Styling for navigation links */
.navbar a {
    text-decoration: none;
    font-size: 0.8vw; /* 0.8% of viewport width */
    color: var(--text-color);
}

/* Hover effect for navigation links */
.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4vh;
    text-decoration-color: var(--accent-color);
}

/* Styling for the toolbar inside the navigation bar */
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw; /* 1% of viewport width */
    height: 4vh; /* 4% of viewport height */
    padding: 0 2vw 0 0;
    font-family: Rajdhani;
}

/* Styling for list items in the toolbar */
.toolbar li {
    padding-right: 0.5vw;
}

/* Styling for icons in the toolbar */
.toolbar i {
    padding-right: 0.3vw;
    color: var(--accent-color);
}

/* Define scroll margins for specific elements with IDs 'scroll1' and 'scroll2' */
#scroll1, #scroll2 {
    scroll-margin-top: 30vh; /* 30% of viewport height */
}

/* Styling for the logo bar */
.logobar {
    width: 100%;
    height: 10vh; /* 10% of viewport height */
    padding: 0;
}

/* Styling for the logo */
.logofigure {
    margin: 0;
    text-align: center;
    padding-bottom: 5vh;
    margin-top: 0;
}

/* Styling for the logo image */
.logo {
    width: 15vw; /* 15% of viewport width */
    height: 15vh; /* 15% of viewport height */
}

/* Styling for the search bar */
.searchbar {
    display: flex;
    justify-content: start;
    list-style: none;
    margin-top: -20vh; /* -20% of viewport height */
    margin-left: 4vw;
}

/* Styling for the search form */
.searchbar form {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
}

/* Styling for focused search form */
.searchbar form:focus-within {
    border: 1px solid var(--primary-color);
}

/* Styling for search button */
.searchbar button {
    border: none;
    border-right: none;
    padding: 1vh 0 0.8vh 0.8vw;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Styling for search input */
.searchbar input[type=text] {
    border: none;
    border-left: none;
    padding: 0.8vh 0 0.8vh 0.8vw;
    font-size: 1vw; /* 1% of viewport width */
    width: 9vw; /* 9% of viewport width */
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Rajdhani;
}

/* Styling for focused search input */
.searchbar input[type=text]::placeholder {
    color: var(--text-color);
}

/* Styling for focused search input */
.searchbar input[type=text]:focus {
    outline: none;
}

/* Styling for focused search input */
.searchbar input[type=text]:focus::placeholder {
    color: transparent;
}

/* Styling for the header bar */
#headerbar {
    text-align: center;
    font-size: 1.3vw; /* 1.3% of viewport width */
    height: 5vh; /* 4.5% of viewport height */
    line-height: 4vh;
    position: relative;
    margin: 0;
    margin-left: -3.5vw;
    padding-top: 21vh; /* 21% of viewport height */
    background-color: var(--primary-opacity);
}

/* Styling for the header bar text */
#headerbar p {
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-family: Hind Siliguri;
}

/* Styling for the home background image */
#homebackground {
    margin: 0;
    width: 100%;
    height: 80vh; /* 80% of viewport height */
    object-fit: cover;
    border-bottom: 10px solid var(--primary-color);
}

/* Styling for the text container inside the home section */
#hometextcontainer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Padding inside the text container */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    background-color: var(--primary-opacity);
}

/* Styling for the home section heading */
#homeheading {
    margin: 0;
    font-size: 2vw; /* Adjust the font size as needed */
    text-align: center;
    padding-bottom: 2vh;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Outfit;
}

/* Styling for text inside the home text container */
#hometext {
    font-size: 1.1vw; /* Example font size for <p> element inside text container */
    margin: 10px 0; /* Optional: Adjust the margin as needed */
    line-height: 3vh;
    word-spacing: 0.2vw;
    letter-spacing: 0.1vw;
    padding-left: 2vw;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Hind Siliguri;
}

/* Styling for the navigation map */
.navmap {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2vh 0 0 10vw;
    color: var(--text-color);
    font-size: 1vw;
    font-family: Hind Siliguri;
}

/* Styling for navigation links in the map */
.navroute a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Hover effect for route links in the navigation map */
.navroute a:hover {
    text-decoration: underline;
}

.lastnavroute a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Hover effect for route links in the navigation map */
.lastnavroute a:hover {
    text-decoration: underline;
}

/* Styling for the info container */
#infocontainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh; /* 10% of viewport height */
    gap: 2vw;
}

/* Styling for the heading inside the info container */
#infocontainer h4 {
    position: absolute;
    margin-top: -6vh;
    font-weight: normal;
    color: var(--text-color);
    font-size: 1.2vw;
    font-family: Outfit;
}

/* Styling for the figure element inside the info container */
#infocontainer figure {
    width: 30vw; /* 30% of viewport width */
    border: 10px solid var(--primary-color);
    outline: 20px solid var(--primary-opacity);
    border-radius: 10px;
    margin-bottom: 10vh; /* 10% of viewport height */
    margin-top: 6vh; /* 6% of viewport height */
}

/* Styling for images inside the figure element */
#infocontainer img {
    width: 30vw; /* 30% of viewport width */
    height: 35vh; /* 35% of viewport height */
    border-bottom: 4px solid var(--primary-color);
}

/* Styling for captions inside the figure element */
#infocontainer figcaption {
    margin: 0;
    margin-top: -0.7vh;
    width: 30vw; /* 30% of viewport width */
    height: 115vh; /* 100% of viewport height */
}

#infocontainer h2 {
    text-align: center;
    margin: 0;
    padding: 2.5vh 0 0 0;
    color: var(--text-color);
    font-size: 1.65vw;
    font-family: Outfit;
}

/* Styling for headings and paragraphs inside the info container */
#infocontainer h3 {
    padding: 1.5vh 1.5vw 0 2vw;
    margin: 0;
    color: var(--text-color);
    font-size: 1.3vw;
    font-family: Outfit;
}

#infocontainer p {
    padding: 1.5vh 1.5vw 0 2vw;
    margin: 0;
    color: var(--text-color);
    font-size: 1.1vw;
    font-family: Hind Siliguri;
    line-height: 2.5vh;
}

#infocontainer a {
    color: var(--primary-color);
    text-decoration: none;
}

#infocontainer a:hover {
    text-decoration: underline;
    text-underline-offset: 0.8vh;
}

/* Styling for the slogan image */
#slogan {
    margin: auto;
    display: block;
    margin-top: 5vh;
    width: 20vw !important; /* 20% of viewport width */
    height: 20vh !important; /* 20% of viewport height */
}

/* Styling for the TripAdvisor image */
#tripadvisor {
    margin: auto;
    display: block;
    margin-top: 5vh;
    width: 25vw !important; /* 25% of viewport width */
    height: 15vh !important; /* 15% of viewport height */
}

footer {
    background-color: var(--primary-color);
}

.footercontainer {
    display: flex;
    justify-content: center;
    gap: 5vw;
    text-align: center;
    border-top: 2px solid var(--secondary-color);
}

.footercontainer ul, .hourscontainer ul {
    list-style-type: none;
    padding: 0;
}

.footercontainer a {
    text-decoration: none;
    color: var(--background-color);
}

.footercontainer a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4vh;
    text-decoration-color: var(--secondary-color);
}

/* Styling for headings and paragraphs inside the info container */
.footercontainer h2 {
    padding: 3.5vh 0 0.8vh 0;
    margin: 0 0 2vh 0;
    font-size: 2.2vw;
    color: var(--background-color);
    font-family: Outfit;
}

/* Styling for headings and paragraphs inside the info container */
.footercontainer li {
    padding: 0.5vh 0 0.8vh 0;
    margin: 0;
    color: var(--background-color);
    font-style: normal;
    font-size: 1.2vw;
    font-family: Hind Siliguri;
    line-height: 1.5vh;
}

.hourscontainer {
    display: flex;
    justify-content: center;
    gap: 10vw;
    text-align: center;
}

.hourscontainer h3 {
    padding: 2vh 0 0.8vh 0;
    margin: 0 0 2vh 0;
    color: var(--background-color);
    font-size: 1.4vw;
    font-family: Outfit;
}

.hourscontainer li {
    padding: 0.5vh 0 0.8vh 0;
    margin: 0;
    color: var(--background-color);
    font-size: 1.1vw;
    font-family: Hind Siliguri;
    line-height: 1.5vh;
}

.footerlogos {
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding-bottom: 2vh;
    text-align: center;
}

.footerlogo, .footerslogan {
    width: 20vw;
    height: 20vh;
}

.footercontainerhr {
    margin: 0 auto;
    background-color: var(--background-color);
    width: 60%;
    margin-top: 2vh;
    height: 2px;
}

.hourscontainerhr {
    margin: 0 auto;
    background-color: var(--background-color);
    width: 80%;
    margin-top: 2vh;
    height: 2px;
}