/* Set smooth scroll behavior for the entire document */
:root {
    scroll-behavior: smooth;
    /* Define custom color variables */
    --text-color: rgb(25, 3, 0);
    --background-color: rgb(255, 246, 245);
    --primary-color: rgb(1, 123, 142);
    --secondary-color: rgb(194, 216, 255);
    --accent-color: rgb(1, 244, 155);
    --primary-opacity: rgba(1, 123, 142, 0.8);
}

/* Style selected text */
::selection {
    background-color: var(--accent-color);
}

/* Basic styles for the body element */
body {
    margin: 0;
    background-color: var(--background-color);
    width: 100%;
    overflow-x: hidden;
}

/* Styles for the fixed navigation bar */
.navbar {
    border-bottom: 5px solid var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 21vh;
    background-color: var(--background-color);
    box-shadow: 0 4px 2px -2px var(--primary-opacity);
}

/* Styles for navigation links */
.navbar a {
    text-decoration: none;
    font-size: .8vw;
    color: var(--text-color);
}

/* Hover styles for navigation links */
.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: .4vh;
    text-decoration-color: var(--accent-color);
}

/* Styles for toolbar */
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    height: 4vh;
    padding: 0 2vw 0 0;
    font-family: Rajdhani;
    list-style: none;
    margin: 0;
}

/* Styles for toolbar list items */
.toolbar li {
    padding-right: .5vw;
}

/* Styles for toolbar icons */
.toolbar i {
    padding-right: .3vw;
    color: var(--accent-color);
}

/* Scroll margin for anchor links */
#scroll1, #scroll2, #scroll3, #scroll4 {
    scroll-margin-top: 30vh;
}

/* Styles for logobar */
.logobar {
    width: 100%;
    height: 10vh;
    padding: 0;
}

/* Styles for logo container */
.logofigure {
    margin: 0;
    text-align: center;
    padding-bottom: 5vh;
    margin-top: 0;
}

/* Styles for logo image */
.logo {
    width: 15vw;
    height: 15vh;
}

/* Styles for searchbar */
.searchbar {
    display: flex;
    justify-content: start;
    list-style: none;
    margin-top: -20vh;
    margin-left: 4vw;
}

/* Styles for search form */
.searchbar form {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
}

/* Focus styles for search form */
.searchbar form:focus-within {
    border: 1px solid var(--primary-color);
}

/* Styles for search button */
.searchbar button {
    border: none;
    border-right: none;
    padding: 1vh 0 .8vh .8vw;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Styles for search input */
.searchbar input[type=text] {
    border: none;
    border-left: none;
    padding: .8vh 0 .8vh .8vw;
    font-size: 1vw;
    width: 9vw;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Rajdhani;
}

/* Placeholder styles for search input */
.searchbar input[type=text]::placeholder {
    color: var(--text-color);
}

/* Focus styles for search input */
.searchbar input[type=text]:focus {
    outline: 0;
}

/* Hide placeholder text on focus */
.searchbar input[type=text]:focus::placeholder {
    color: transparent;
}

/* Styles for header bar */
#headerbar {
    text-align: center;
    font-size: 1.3vw;
    height: 5vh;
    line-height: 4vh;
    position: relative;
    margin: 0;
    margin-left: -3.5vw;
    padding-top: 21vh;
    background-color: var(--primary-opacity);
}

/* Styles for header text */
#headerbar p {
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-family: Hind Siliguri;
}

/* Styles for home background image */
#homebackground {
    margin: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-bottom: 10px solid var(--primary-color);
}

/* Styles for home text container */
#hometextcontainer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vh 0 3vh 0;
    border-radius: 10px;
    background-color: var(--primary-opacity);
}

/* Styles for home heading */
#homeheading {
    margin: 0;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 2vh;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Outfit;
}

/* Styles for home text */
#hometext {
    font-size: 1.1vw;
    margin: 10px 0;
    line-height: 3vh;
    word-spacing: .2vw;
    letter-spacing: .1vw;
    padding: 0 2vw 0 2vw;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Hind Siliguri;
}

/* Styles for register background image */
#registerbackground {
    margin: 20vh 0 0 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-bottom: 10px solid var(--primary-color);
}

/* Styles for register text container */
#registertextcontainer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vh 0 3vh 0;
    border-radius: 10px;
    background-color: var(--primary-opacity);
}

/* Styles for register heading */
#registerheading {
    margin: 0;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 2vh;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Outfit;
}

/* Styles for register text */
#registertext {
    font-size: 1.1vw;
    margin: 10px 0;
    line-height: 3vh;
    word-spacing: .2vw;
    letter-spacing: .1vw;
    padding: 0 2vw 0 2vw;
    color: var(--background-color);
    text-shadow: 2px 2px 2px var(--text-color);
    font-family: Hind Siliguri;
}

/* Styles for navigation map and routes */
.navmap {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2vh 0 0 10vw;
    color: var(--text-color);
    font-size: 1vw;
    font-family: Hind Siliguri;
}

/* Styles for navigation routes */
.navroute a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Hover styles for navigation routes */
.navroute a:hover {
    text-decoration: underline;
}

/* Styles for last navigation route */
.lastnavroute a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Hover styles for last navigation route */
.lastnavroute a:hover {
    text-decoration: underline;
}

/* Styles for register main container */
#registermain {
    background-color: var(--background-color);
    margin-bottom: 10vh;
}

/* Styles for register list container */
#registerlistcontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styles for register list container */
#registerlistcontainer {
    margin-top: 7vh!important;
    margin: 0 auto;
    width: 50%;
    border: 5px solid var(--primary-opacity);
    border-radius: 10px;
}

/* Styles for register list items */
#registerlistcontainer li {
    border-bottom: 1px solid var(--primary-opacity);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5vh 0 1.5vh 3vw;
    font-size: 1.1vw;
    font-family: Hind Siliguri;
}

/* Styles for register list headings */
#registerlistcontainer h2 {
    margin: 1.5vh 0 1.5vh 0;
    font-size: 1.5vw;
    font-family: Outfit;
}

/* Styles for register list links */
#registerlistcontainer a {
    color: var(--text-color);
    text-decoration: none;
}

/* Hover styles for register list links */
#registerlistcontainer a:hover {
    text-decoration: underline;
    text-underline-offset: .5vh;
    text-decoration-color: var(--secondary-color);
}

/* Scroll margins for anchor links */
#scroll10, #scroll11, #scroll5, #scroll6, #scroll7, #scroll8, #scroll9 {
    scroll-margin-top: 37vh;
}

/* Styles for register horizontal rule */
.registerhr {
    background-color: var(--primary-opacity);
    height: .2vh;
    margin: 0 auto;
    width: 80%;
}

/* Styles for register container */
.registercontainer {
    padding: 1.5vw;
    background-color: var(--background-color);
    margin: 0 auto;
    width: 50%;
    border: 5px solid var(--primary-opacity);
    border-radius: 10px;
    padding: 2vh 3vw 5vh 3vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/* Styles for register container paragraphs */
.registercontainer p {
    font-family: Hind Siliguri;
    color: var(--text-color);
    font-size: 1.1vw;
}

/* Styles for register container headings and labels */
.registercontainer h2, .registercontainer label {
    font-family: Outfit;
    color: var(--text-color);
    font-size: 1.3vw;
}

/* Styles for register input fields */
.registercontainer input[type=text] {
    padding: 1vh 1vw;
    width: 92%;
    display: block;
    border: 2px solid var(--secondary-color);
    background-color: var(--background-color);
    font-family: Hind Siliguri;
    margin: 2vh 0 2vh 0;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 1vw;
}

/* Focus styles for register input fields */
.registercontainer input[type=text]:focus {
    border: 2px solid var(--primary-color);
    outline: 0;
}

/* Styles for register button */
.registerbtn {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1.5vh 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: .9;
    font-family: Outfit;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-size: 1.2vw;
}

/* Hover styles for register button */
.registerbtn:hover {
    opacity: 1;
}

/* Styles for info container */
#infocontainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 2vw;
    width: 100%;
}

/* Styles for info container headings */
#infocontainer h4 {
    position: absolute;
    margin-top: -6vh;
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.2vw;
    font-family: Outfit;
}

/* Styles for info container figure */
#infocontainer figure {
    width: 30vw;
    border: 10px solid var(--primary-color);
    outline: 20px solid var(--primary-opacity);
    border-radius: 10px;
    margin-bottom: 10vh;
    margin-top: 6vh;
}

/* Styles for info container images */
#infocontainer img {
    width: 30vw;
    height: 35vh;
    border-bottom: 4px solid var(--primary-color);
}

/* Styles for info container captions */
#infocontainer figcaption {
    margin: 0;
    margin-top: -.7vh;
    width: 30vw;
    height: 115vh;
}

/* Styles for info container headings */
#infocontainer h2 {
    text-align: center;
    margin: 0;
    padding: 2.5vh 0 0 0;
    color: var(--text-color);
    font-size: 1.65vw;
    font-family: Outfit;
}

/* Styles for info container subheadings */
#infocontainer h3 {
    padding: 1.5vh 1.5vw 0 2vw;
    margin: 0;
    color: var(--text-color);
    font-size: 1.3vw;
    font-family: Outfit;
}

/* Styles for info container paragraphs */
#infocontainer p {
    padding: 1.5vh 1.5vw 0 2vw;
    margin: 0;
    color: var(--text-color);
    font-size: 1.1vw;
    font-family: Hind Siliguri;
    line-height: 2.5vh;
}

/* Styles for info container links */
#infocontainer a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Hover styles for info container links */
#infocontainer a:hover {
    text-decoration: underline;
    text-underline-offset: .8vh;
}

/* Styles for slogan image */
#slogan {
    margin: auto;
    display: block;
    margin-top: 5vh;
    width: 20vw!important;
    height: 20vh!important;
}

/* Styles for TripAdvisor image */
#tripadvisor {
    margin: auto;
    display: block;
    margin-top: 5vh;
    width: 25vw!important;
    height: 15vh!important;
}

/* Styles for footer */
footer {
    background-color: var(--primary-color);
}

/* Styles for footer container */
.footercontainer {
    border-top: 2px solid var(--secondary-color);
    padding-bottom: 1vh;
}

/* Styles for footer links */
.footercontainer a {
    text-decoration: none;
    color: var(--background-color);
}

/* Hover styles for footer links */
.footercontainer a:hover {
    text-decoration: underline;
    text-underline-offset: .4vh;
    text-decoration-color: var(--secondary-color);
}

/* Styles for footer list */
.footerlist {
    display: flex;
    justify-content: center;
    gap: 8vw;
    list-style-type: none;
    padding: 0;
}

/* Styles for footer list items */
.footerlist ul {
    list-style-type: none;
    padding: 0;
}

/* Styles for footer list items */
.footerlist li {
    text-align: center;
    color: var(--background-color);
    font-style: normal;
    font-size: 1.2vw;
    font-family: Hind Siliguri;
    line-height: 1.5vh;
    padding: .7vh 0 .7vh 0;
}

/* Styles for footer headings */
.footerlist h2 {
    text-align: center;
    font-size: 2.2vw;
    color: var(--background-color);
    font-family: Outfit;
}

/* Styles for footer address */
.footerlist address {
    font-style: normal;
}

/* Styles for footer horizontal rule */
.footercontainerhr {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--background-color);
    position: absolute;
    width: 60%;
    height: 2px;
}

/* Styles for hours container */
.hourscontainer {
    padding: 1vh 0 1vh 0;
}

/* Styles for hours container list */
.hourscontainer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 11vw;
}

/* Styles for hours container list items */
.hourscontainer li {
    padding: .5vh 0 .8vh 0;
    color: var(--background-color);
    font-size: 1.1vw;
    font-family: Hind Siliguri;
    line-height: 1.5vh;
    text-align: center;
}

/* Styles for hours container headings */
.hourscontainer h3 {
    padding: 2vh 0 .8vh 0;
    margin: 0 0 2vh 0;
    color: var(--background-color);
    font-size: 1.4vw;
    font-family: Outfit;
}

/* Styles for hours container horizontal rule */
.hourscontainerhr {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--background-color);
    position: absolute;
    width: 80%;
    height: 2px;
}

/* Styles for footer logos */
.footerlogos {
    display: flex;
    justify-content: center;
    gap: 10vw;
    text-align: center;
}

/* Styles for footer logo and slogan */
.footerlogo, .footerslogan {
    width: 20vw;
    height: 20vh;
}

/* Styles for footer icons */
.footericons {
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 5vh 0 2.5vh 0;
}

/* Styles for footer icon links */
.footericons a {
    color: var(--background-color);
}

/* Hover styles for footer icon links */
.footericons a:hover {
    color: var(--secondary-color);
}

/* Styles for footer icons */
.footericons i {
    font-size: 3.5vw;
}